@font-face {
  font-family: 'Cuprum-Regular';
  src: url("../fonts/Cuprum-Regular.eot") format('eot'),
  url("../fonts/Cuprum-Regular.svg") format('svg'),
  url("../fonts/Cuprum-Regular.ttf") format('ttf'),
  url("../fonts/Cuprum-Regular.woff") format('woff'),
  url("../fonts/Cuprum-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Italic';
  src: url("../fonts/Cuprum-Italic.eot") format('eot'),
  url("../fonts/Cuprum-Italic.svg") format('svg'),
  url("../fonts/Cuprum-Italic.ttf") format('ttf'),
  url("../fonts/Cuprum-Italic.woff") format('woff'),
  url("../fonts/Cuprum-Italic.woff2") format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum-Bold';
  src: url("../fonts/Cuprum-Bold.eot") format('eot'),
  url("../fonts/Cuprum-Bold.svg") format('svg'),
  url("../fonts/Cuprum-Bold.ttf") format('ttf'),
  url("../fonts/Cuprum-Bold.woff") format('woff'),
  url("../fonts/Cuprum-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url("../fonts/PTSans-Regular.eot") format('eot'),
  url("../fonts/PTSans-Regular.svg") format('svg'),
  url("../fonts/PTSans-Regular.ttf") format('ttf'),
  url("../fonts/PTSans-Regular.woff") format('woff'),
  url("../fonts/PTSans-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("../fonts/PTSans-Bold.eot") format('eot'),
  url("../fonts/PTSans-Bold.svg") format('svg'),
  url("../fonts/PTSans-Bold.ttf") format('ttf'),
  url("../fonts/PTSans-Bold.woff") format('woff'),
  url("../fonts/PTSans-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: bold;
}

html {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
} 

body {
  display: flex;
  flex-direction: column;
  min-width: 960px;
  padding: 0;

  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.section-title {
  margin: 0;

  font-size: 30px;
  font-weight: 400;
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}

.simple-text {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans-Regular', Tahoma, Arial, sans-serif;
}

.center-block {
  width: 940px;
  margin: 0 auto;
}

/* ***************************  стили header ***************************** */

header {
  display: flex;
  flex-direction: column;  
  min-height: 320px;

  background-color: #f3f7f9;
}

.top-wrapper {
  background-color: #293449;
}

.top {
  display: flex;
  flex-wrap: wrap;
  min-height: 42px;

  font-size: 17px;
  line-height: 24px;
}

.header-link {
  min-width: 150px;

  color: #ffffff;
  text-decoration: none;
}

/* ***************************  стили header top ***************************** */

.logo {
  min-width: 220px;
  padding-top: 12px;
  padding-bottom: 5px;

  text-align: center;
  line-height: 22px;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.form-search {
  position: relative;
}

.form-search__input {
  min-width: 270px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 49px;

  font-size: 17px;
  line-height: 24px;

  background-color: #293449;
  border: none;
}

.form-search__label {
  position: absolute;
  left: 17px;
  top: 12px;

  opacity: 0.3;
}

.form-search__input:hover + .form-search__label {
  opacity: 1;
} 

.form-search__input:focus + .form-search__label {
  opacity: 1;
}

.form-search__input:focus + .form-search__label path{
  fill: #ee3643;
}

.form-search__input::-webkit-input-placeholder {
  color: #ffffff;
}

/* Firefox < 19 */
.form-search__input:-moz-placeholder {
  color: #ffffff;
}

/* Firefox > 19 */
.form-search__input::-moz-placeholder {
  color: #ffffff;
}

/* Internet Explorer 10 */
.form-search__input:-ms-input-placeholder {
  color: #ffffff;
}

.form-search__input:hover {
  background-color: #212a3a;
}

.form-search__input:hover + svg path {
  fill: #ffffff;
}

.form-search__input:focus {
  background-color: #ffffff;
  outline: none;
}

.form-search__input:focus::-webkit-input-placeholder {
  color: #000000;
}

/* Firefox < 19 */
.form-search__input:focus:-moz-placeholder {
  color: #000000;
}

/* Firefox > 19 */
.form-search__input:focus::-moz-placeholder {
  color: #000000;
}

/* Internet Explorer 10 */
.form-search__input:focus::-ms-input-placeholder {
  color: #000000;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.header-link {
  box-sizing: border-box;
  min-width: 150px;
  padding-top: 9px;
  padding-bottom: 9px;

  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.header-link svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.top-element {
  position: relative;
  padding-left: 45px;
}

.top-element svg{
  opacity: 0.3;
}

.top-element:hover {
  background-color: #212a3a;
}

.top-element:hover svg {
  opacity: 1;
}

.top-element:active {
  color: rgba(255, 255, 255, 0.6);
}

.top-element:active svg{
  opacity: 0.5;
}

.cart-with-items {
  background-color: #ee3643;
}

.checkout {
  margin-left: auto;
  padding-left: 21px;

  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

/* ***************************  стили header middle ***************************** */

.middle {
  display: flex;
  flex-wrap: wrap;
  margin-top: 46px;
  margin-bottom: 42px;
}

h1 {
  max-width: 200px;
  margin-top: 0;
  margin-right: 71px;
  margin-bottom: 0;
  margin-left: 53px;

  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  font-family: 'Cuprum-Italic', Tahoma, Arial, sans-serif;
  color: #ee3643;
}

.phone,
.address {
  text-decoration: none;
}

.phone {
  box-sizing: border-box;
  display: block;
  margin-top: 1px;
  padding-top: 5px;
  padding-left: 71px;
  min-width: 270px;
  min-height: 45px;

  font-size: 21px;
  line-height: 30px;
  color: #ee3643;

  border: 3px solid #ffffff;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.address {
  padding: 10px;

  font-size: 14px;
  line-height: 20px;
  color: #32425c;
}

.user-entrance {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: auto;
}

.user-door {
  position: relative;

  min-width: 121px;
  padding-left: 48px;
}

.user-door svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.registration {
  min-width: 150px;
  padding-left: 25px;
}

.entrance-link {
  box-sizing: border-box;
  display: block;
  min-height: 45px;
  margin-left: 10px;
  padding-top: 8px;
  font-size: 21px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.entrance-link:hover {
  color: #ee3643;
}

.entrance-link:hover path{
  fill: #32425c;
}

.entrance-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.entrance-link:active path {
  fill: #c5c5c5;
}

.user-zone {
  margin-left: auto;
}

.profile {
  display: flex;
  min-width: 300px;

  background-color: #ffffff;
}

.user-zone__a {
  position: relative;

  box-sizing: border-box;
  display: block;
  min-height: 45px;
  padding-top: 7px;
  padding-left: 47px;

  font-size: 21px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.icon-user {
  position: absolute;
  left: 13px;
  top: 13px;
}

.icon-logout {
  position: absolute;
  top: 14px;
  right: 10px;
}

.user-zone__a:hover g,
.user-zone__a:hover path {
  fill: #32425c;
}

.user-zone__a:active {
  opacity: 0.3;
}

.user-links {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1px;
}

.orders {
  margin-right: 15px;
  margin-left: 17px;
}

.my-links {
  color: #32425c;
}

.my-links:hover {
  color: #ee3643;
}

.my-links:active {
  color: #32425c;

  opacity: 0.3;
}

.point {
  width: 5px;
  height: 5px;
  margin-top: 10px;
  margin-right: 13px;

  background-color: #32425c;
  border-radius: 50%;
}

/* ***************************  стили header навигация ***************************** */

.main-nav {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 55px;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 17px;
  line-height: 24px;

  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.redirect {
  flex-grow: 1;
  padding: 5px;
  padding-top: 16px;

  text-align: center;
  color: #ffffff;

  text-decoration: none;
}

.redirect:hover {
  background-color: #293449;
}

.redirect:active {
  background-color: #1d2739;
  opacity: 0.5;
}

/* ***************************  стили offers ***************************** */

.main-page {
  display: flex;
  flex-direction: column;
  margin-top: 59px;
}

.container {
  display: flex;
  flex-direction: column;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.left-offers {
  display: flex;
  flex-direction: column;
}

.top-left-category {
  display: flex;
  flex-wrap: wrap;
}

.category {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.category-title {
  margin-top: 16px;
  margin-bottom: 10px;
  margin-left: 22px;

  font-size: 24px;
  font-family: 'Cuprum-Bold', Tahoma, Arial, sans-serif;
  color: #ffffff;
}

.category-link {
  box-sizing: border-box;
  min-width: 135px;
  min-height: 38px;
  margin-left: 25px;
  padding-top: 9px;

  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.category-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  margin-right: 20px;

  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.right-offers {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.technic {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.discount {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.delivery {
  margin-bottom: 0;

  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.slider {
  position: relative;
  
  box-sizing: border-box;
  min-width: 620px;
  min-height: 266px;

  background-color: #000000;
}

.slide {
  display: none;
}

.slider__input {
  position: absolute;
}

.input-slide-1:checked + .slide-1, 
.input-slide-2:checked + .slide-2 {
  display: block;
}

.input-slide-1:checked~.slider-label-box .label-slide-1,
.input-slide-2:checked~.slider-label-box .label-slide-2 {
  background: #ee3643;
}

.slider-label-box {
  position: absolute;
  left: 295px;
  top: 220px;

  display: flex;
}

.slider__label {
  box-sizing: border-box;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider__label::before {
  content: "";

  position: absolute;

  display: block;
  width: 22px;
  height: 40px;

  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
}

.label-slide-1::before {
  left: -270px;
  top: -106px;
}

.label-slide-2::before {
  left: 283px;
  top: -106px;

  transform: scale(-1,1);
}

.slide {
  position: absolute;

  min-width: 620px;
  min-height: 266px;
}

.slide h2 {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 24px;

  font-size: 36px;
  line-height: 38px;
  font-family: 'Cuprum-Bold', Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;

}

.slide p {
  margin-top: 0;
  margin-left: 24px;

  font-size: 18px;
  color: #ffffff;
}

.slide .red-button {
  max-width: 195px;
  margin-top: 126px;
  margin-left: 25px;
}

.slide-1 {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-2 {
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ***************************  стили catalog-items ***************************** */

.spacing-block {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  min-height: 89px;
  margin-bottom: 20px;
  padding-left: 30px;

  background-color: #f9f5f0;
}

.spacing-block .red-button {
  min-width: 253px;
  margin-top: 25px;
  margin-right: 24px;
  margin-left: auto;

  align-self: baseline;
}

.spacing-block h2 {
  margin-top: 22px;

  color: #32425c;
}

.main-catalog .item:nth-child(4n) {
  margin-right: 0;
}

/* ***************************  стили popular-manufactures ***************************** */

.manufactures-banners {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.banner-link {
  position: relative;

  width: 218px;
  height: 143px;
  margin-bottom: 20px;

  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #eaeaea;
}

.banner-link:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.banner-link:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.banner-link:active::after {
  opacity: 0.3;
}

.banner-link::after {
  content: "";

  position: absolute;
  
  width: 218px;
  height: 143px;

  background-repeat: no-repeat;
}

.bosch::after {
  background-image: url(../img/bosch.png);
  background-position: 46px 52px;
}

.makita::after {
  background-image: url(../img/makita.png);
  background-position: 47px 49px;
}

.dewalt::after {
  background-image: url(../img/dewalt.png);
  background-position: 36px 47px;
}

.interskol::after {
  background-image: url(../img/interskol.png);
  background-position:  8px 20px;
}

.hitachi::after {
  background-image: url(../img/hitachi.png);
  background-position: 27px 57px;
}

.lg::after {
  background-image: url(../img/lg.png);
  background-position: 47px 34px;
}

.aeg::after {
  background-image: url(../img/aeg.png);
  background-position: 34px 22px;
}

.metabo::after {
  background-image: url(../img/metabo.png);
  background-position: 9px 33px;
}

/* ***************************  стили services ***************************** */

.services-wrapper {
  margin-top: 65px;

  background-color: #f4f7f9;
}

.services {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 522px;
}

.services__p {
  max-width: 400px;
}

.service-slider {
  position: relative;

  margin-top: 55px;
  margin-bottom: 50px;
}

.service-slider::before {
  content: "";

  position: absolute;
  top: -44px;
  left: 230px;

  display: block;
  width: 10px;
  height: 272px;

  background-image: url(../img/slot.png);
  background-repeat: repeat;
}

.service-slide {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.services h2 {
  margin-top: 68px;
  margin-bottom: 15px;
}

.service-toggle {
  box-sizing: border-box;
  width: 240px;
  height: 61px;
  margin-bottom: 1px;
  padding-top: 17px;
  padding-left: 36px;

  font-size: 21px;
  font-family: 'Cuprum-Bold', Tahoma, Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.service-toggle:hover {
  background-color: #293449;
}

.service-input {
  display: none;
}

.service-input:checked + .service-toggle {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.service-slide__div {
  position: absolute;
  left: 320px;
  top: 0;

  flex-direction: column;
  width: 620px;
}

.service-input:checked ~ .service-slide__div {
  display: flex;
}

.service-slide__div img{
  position: absolute;
  right: 0;
}

.delivery-div p {
  max-width: 278px;
}

.delivery-div img {
  top: 25px;
}

.warranty-div p {
  max-width: 378px;
}

.warranty-div img {
  top: 3px;
}

.credit-div p {
  max-width: 300px;
}

.credit-div img {
  top: 1px;
}

.credit-div .red-button {
  margin-top: 13px;
}

.service-slide__div h3 {
  margin: 0;
  margin-bottom: 14px;

  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

/* ***************************  стили about-us ***************************** */

.about-us {
  display: flex;
  min-height: 536px;
}

.about-us .section-title {
  margin-bottom: 24px;
}

.about-us p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 18px;
}

.about-us-item {
  margin-top: 82px;
}

.about-us-block {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin-right: 120px;
}

.transport-list{
  flex-direction: column;
  margin-top: 0;
  padding-left: 36px;

  font-size: 18px;
  line-height: 26px;
}

.transport-list__li {
  position: relative;

  margin-bottom: 14px;
}

.transport-list__li::before {
  content: "";

  position: absolute;
  top: 13px;
  left: -36px; 

  box-sizing: border-box;
  display: block;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.main-address {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.small-map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 14px;
  padding: 0;

  background-color: #8b8e94;
  border: none;
}

.about-us .write-us-button {
  width: 300px;
  padding-top: 0;
  padding-bottom: 0;

  border: none;
}

.about-us .red-button {
  margin-top: auto;
  margin-bottom: 86px;
}

/* ***************************  стили catalog ***************************** */

.inner-page {
  display: flex;
  flex-direction: column;

  font-size: 13px;
  font-family: 'PTSans-Regular', Tahoma, Arial, sans-serif;
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.crumbs {
  margin-right: 15px;

  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-title {
  box-sizing: border-box;
  min-height: 89px;
  padding-top: 22px;
  padding-left: 28px;

  color: #32425c;

  background-color: #f2f6f8;
}

.form-section-catalog {
  margin-bottom: 60px;
}

/* ***************************  стили left side filter ***************************** */

.form-section-catalog{
  display: flex; 
  margin-top: 20px;
}

.left-side-filter {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin-right: 20px;
}

.form-element {
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.left-side-filter__span {
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.form-names {
  font-size: 17px;
  line-height: 21px;
  font-family: 'PTSans-Bold', Tahoma, Arial, sans-serif;
  text-transform: uppercase;
}

.form-scale {
  height: 80px;
  margin-bottom: 9px;
}

.price-controls {
  display: flex;
  max-width: 220px;
}

.price-toggle {
  box-sizing: border-box;
  max-width: 95px;
  width: 95px;

  font-size: 17px;
  line-height: 24px;
  text-align: center;
  
  border: none;
  outline: none;
}

.price-controls__span {
  padding: 10px;

  line-height: 18px;
}

.manufactures:before {
  content: "";

  display: block;
  height: 21px;
  margin-top: 8px;

  border-top: 1px solid #e5e5e5;
}

.filter-list {
  flex-direction: column;
}

.filter-list__li {
  margin-top: 1px;
  margin-bottom: 18px;
}

.filter-list-item {
  position: relative;

  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.checkbox-item::before {
  content: "";

  position: absolute;
  left: 0px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.checkbox-input {
  width: 0;
  height: 0;
}

.checkbox-input:checked + .checkbox-item::before {
  background-image: url(../img/checkbox-on.svg);
}

.power-source {
  margin-top: 0;
}

.power-source:before {
  content: "";

  display: block;
  height: 21px;
  margin-top: 5px;

  border-top: 1px solid #e5e5e5;
}

.radio-item::before {
  content: "";
  left: 0px;
  top: -3px;

  position: absolute;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.radio-input:checked + .radio-item::before {
  background-image: url(../img/radio-on.svg);
}

.view-button {
  box-sizing: border-box;
  width: 140px;
  height: 38px;
  margin-top: 60px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/* ***************************  стили right side container ***************************** */

.right-side-container {
  flex-grow: 1;
}

.sorting {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 38px;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-bottom: 9px;

  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting__span {
  margin-right: 139px;
  padding-bottom: 1px;
  padding-left: 18px;
}

.sort {
  margin-right: 40px;
  padding:0;

  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  background: none;
  border: none;
  border-bottom: 1px dotted #ee3643;
}

.sort:hover {
  color: rgba(0, 0, 0, 1);

  border: none;
  border-bottom: 1px solid #ee3643;
}

.active-sort, 
.sort:active {
  color: #ee3643;

  border-bottom: 1px solid transparent;
  opacity: 1;
}

.sort:focus {
  outline: none;
}

.by-type {
  margin-left: 29px;
}

.by-function {
  margin-left: 24px;
}

.arrow {
  border: none;
  background: none;
  opacity: 0.3;
}

.active-sort,
.arrow:hover {
  opacity: 1;
}

.arrow:hover path {
  fill: #231F20;
}

.active-sort path,
.arrow:active path {
  fill: #ee3643;
}

.arrow:focus {
  outline: none;
}

.grow {
  margin-right: 5px
}

/* ***************************  стили catalog-items ***************************** */

.catalog-list {
  width: 700px;
  margin-bottom: 31px;
  padding-right: 0;
  padding-left: 0;
}

.item {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.catalog-list .item:nth-child(3n) {
  margin-right: 0;
}

.item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-btn {
  box-sizing: border-box;
  min-width: 135px;
  min-height: 35px;
  margin-left: 1px;

  font-size: 14px;
  line-height: 20px;
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
}

.to-buy {
  position: relative;

  margin-top: 43px;
  margin-bottom: 11px;
  padding-top: 9px;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 3px 0 0 #367315;
}

.to-buy:hover {
  background-color: #5fbb2d;
}

.to-buy:active {
  background-color: #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.to-buy svg {
  position: absolute;
  left: 14px;
  top: 11px;
}

.to-buy circle,
.to-buy path {
  opacity: 0.3;
}

.to-buy:hover circle,
.to-buy:hover path {
  opacity: 1;
}

.to-bookmark {
  padding-top: 6px;

  color: #32425c;

  border: 3px solid #63a63e;
}

.to-bookmark:hover {
  border-color: #32425c;
} 

.to-bookmark:active {
  opacity: 0.3;
} 

.item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.item:hover .item-img{
  display: none;
}

.new-item::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;

  width: 60px;
  height: 59px;

  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
}

.item-info {
  max-width: 160px;
  margin-top: 54px;
  margin-bottom: 1px;

  font-size: 18px;
  line-height: 20px;
  font-family: 'PTSans-Bold', Tahoma, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

.price-list {
  box-sizing: border-box;
  display: block;
  width: 141px;
  height: 38px;
  margin: 0;
  padding-top: 9px;
  
  font-size: 17px;
  line-height: 20px;
  font-family: 'PTSans-Bold', Tahoma, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.item-old-price {
  color: #999999;
  text-decoration: line-through;
}

.item-price {
  color: #ffffff;

  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-btn {
  display: flex;
  flex-wrap: wrap;
}

.square-btn {
  box-sizing: border-box;
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
  padding-top: 8px;

  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.square-btn-text {
  min-width: 140px;
}

.square-btn:hover {
  color: #000000;

  background-color: #ffffff;
  border-color: #bdc6ca;
}

.square-btn:active {
  color: #000000;

  background-color: #ffffff;
  border-color: #ee3643;
}

.catalog-btn-active {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

/* ***************************  стили about-items ***************************** */

.about-items {
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  padding-bottom: 68px;

  background-color: #f2f6f8;
}

.about-items p {
  margin-top: 18px;

  line-height: 24px;
}

/* ***************************  стили footer ***************************** */

footer {
  display: flex;
  flex-direction: column;

  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.footer-logo {
  box-sizing: border-box;
  width: 220px;
  height: 63px;
  padding-top: 20px;

  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-navigation {
  margin-top: 0px;
  margin-left: auto;
}

.footer-nav1 {
  align-self: flex-end;
  margin-bottom: 0px;
}

.footer-link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.footer-nav {
  margin-left: 60px;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.navigation-2 {
  color: #ffd180;
}

.footer-nav:hover {
  text-decoration: underline;
}

.footer-nav:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-bottom-wrapper {
  min-height: 107px;

  background-color: #293449;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 34px;

  line-height: 18px;
  color: #ffffff;
}

.copyright {
  max-width: 225px;
  margin-right: 122px;
}

.social-buttons {
  margin-right: 116px;
  margin-left: 40px;
}

.social-btn {
  position: relative;

  display: block;
  width: 42px;
  height: 42px;
  margin-right: 5px;

  text-align: center;

  background-color: #212a3a;
  border-radius: 50%;
}

.vk {
  padding-top: 13px;
}

.fb {
  padding-top: 10px;
}

.inst {
  padding-top: 10px;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.mail-to {
  max-width: 150px;
  margin-right: 32px;
}

.credits {
  max-width: 100px;
}

.coupling {
  color: #ffd180;
  text-decoration: none;
}

.coupling:hover {
  text-decoration: underline;
}

.coupling:active {
  color: #ee3643;
  text-decoration: none;
}

/* ***************************  стиль modal - write-us ***************************** */

.modal {
  box-sizing: border-box;
  
  color: #000000;

  background-color: #ffffff;
}
.modal-write-us {
  position: fixed;
  left: 50%;
  top: 20%;
  z-index: 10;
  
  width: 620px;
  min-height: 430px;
  margin-left: -310px;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75), inset 0 7px 0 0 #ff5257;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-label-1 {
  margin-top: 52px;
  margin-right: auto;
  margin-bottom: 19px;
  margin-left: 80px;
}

.modal-label-2 {
  margin-top: 52px;
  margin-right: 80px;
  margin-bottom: 19px;
  margin-left: auto;
}

.modal-form-names {
  display: block;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.15;
}

.modal-form-items {
  box-sizing: border-box;
  padding-right: 14px;
  padding-left: 14px;

  border: 2px solid #dee3e4; 
  border-radius: 3px;
}

.modal-form__input {
  width: 220px;
  height: 38px;
}

.modal-form__textarea {
  width: 460px;
  height: 114px;
  margin-bottom: 29px;
  padding-top: 10px;

  resize: none;
}

.submit-wrapper {
  width: 100%;
  height: 112px;

  background-color: #f4f4f4;
}

.submit-wrapper .modal-form__button {
  width: 460px;
  height: 38px;
  margin: 37px auto;
  padding: 5px;

  border: none;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  border: none;
}

/* ***************************  стиль modal - big-map ***************************** */

.modal-big-map {
  position: fixed;
  top: 165px;
  left: 50%;
  z-index: 11;

  margin-left: -470px;

  background-color: #565656;
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5)
}

.modal-big-map .modal-close {
  top: 9px;
  right: 9px;
}

.modal-image-map {
  position: absolute;
  border: none;
}

/* ***************************  стиль modal - item-in-cart ***************************** */

.modal-cart {
  position: fixed;
  left: 50%;
  top: 25%;
  z-index: 10;

  box-sizing: border-box;
  flex-direction: column;
  width: 620px;
  height: 282px;
  margin-left: -310px;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75), 
              inset 0 7px 0 0 #ff5257;
}

.modal-title {
  display: flex;
  align-items: center;
  margin-top: 55px;

  font-size: 30px;
  font-weight: 400;
}

.modal-cart-img {
  position: relative;

  width: 66px;
  height: 66px;
  margin-right: 30px;
  margin-left: 81px;

  background-color: #63a63e;
  border-radius: 50%;
}

.modal-cart-img::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 36px;

  width: 6px;
  height: 34px;

  background-color: #ffffff; 
  border-radius: 1px;

  transform: rotate(45deg);
}

.modal-cart-img::after {
  content: "";

  position: absolute;
  top: 37px;
  left: 14px;

  width: 20px;
  height: 6px;

  background-color: #ffffff; 
  border-radius: 1px;

  transform: rotate(45deg);
}

.pop-up-down {
  display: flex;
  min-height: 112px;
  margin-top: auto;

  background-color: #f1f1f1;
}

.modal-button {
  width: 220px;
  height: 38px;
  margin-top: 37px;
}

.pop-up-down a {
  margin-left: 80px;
}

.modal-cart__button {
  margin-left: 20px;

  font-size: 14px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

/* ***************************  стиль red button ***************************** */

.red-button {
  align-self: flex-start;

  box-sizing: border-box;
  display: block;
  min-height: 38px;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;

  font-size: 14px;
  line-height: 20px;
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

/* ***************************  стиль visually-hidden ***************************** */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;

  border: 0px;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-show {
  display: flex;
  animation-name: jumping;
  animation-duration: 0.6s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

/* ***************************  стиль animation  ***************************** */

@keyframes jumping {
  0%   { transform: translateY(-5000px);}
  70%  { transform: translateY(30px);   }
  90%  { transform: translateY(-10px);  }
  100% { transform: translateY(0);      }
}

@keyframes shake {
  0%, 100%                {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(10px);}
  20%, 40%, 60%, 80%      {transform: translateX(-10px);}
}
