@font-face {
  font-family: 'Cuprum-Regular';
  src: url("../fonts/Cuprum-Regular.eot") format('eot'),
  url("../fonts/Cuprum-Regular.svg") format('svg'),
  url("../fonts/Cuprum-Regular.ttf") format('ttf'),
  url("../fonts/Cuprum-Regular.woff") format('woff'),
  url("../fonts/Cuprum-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Italic';
  src: url("../fonts/Cuprum-Italic.eot") format('eot'),
  url("../fonts/Cuprum-Italic.svg") format('svg'),
  url("../fonts/Cuprum-Italic.ttf") format('ttf'),
  url("../fonts/Cuprum-Italic.woff") format('woff'),
  url("../fonts/Cuprum-Italic.woff2") format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum-Bold';
  src: url("../fonts/Cuprum-Bold.eot") format('eot'),
  url("../fonts/Cuprum-Bold.svg") format('svg'),
  url("../fonts/Cuprum-Bold.ttf") format('ttf'),
  url("../fonts/Cuprum-Bold.woff") format('woff'),
  url("../fonts/Cuprum-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url("../fonts/PTSans-Regular.eot") format('eot'),
  url("../fonts/PTSans-Regular.svg") format('svg'),
  url("../fonts/PTSans-Regular.ttf") format('ttf'),
  url("../fonts/PTSans-Regular.woff") format('woff'),
  url("../fonts/PTSans-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("../fonts/PTSans-Bold.eot") format('eot'),
  url("../fonts/PTSans-Bold.svg") format('svg'),
  url("../fonts/PTSans-Bold.ttf") format('ttf'),
  url("../fonts/PTSans-Bold.woff") format('woff'),
  url("../fonts/PTSans-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: bold;
}

html {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
} 

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.list-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.section-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  margin: 0;
}

.simple-text {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PTSans-Regular', Tahoma, Arial, sans-serif;
}

.center-block {
  margin: 0 auto;
  width: 940px;
}

/* ***************************  стили header ***************************** */

header {
  display: flex;
  flex-direction: column;  
  background-color: #f3f7f9;
  min-height: 320px;
}

.top-wrapper {
  background-color: #293449;
}

.top {
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  line-height: 24px;
  min-height: 42px;
}

.header-link {
  color: #ffffff;
  text-decoration: none;
  min-width: 150px;
}

/* ***************************  стили header top ***************************** */

.logo {
  background-color: #ee3643;
  min-width: 220px;
  text-align: center;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 5px;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.form-search {
  position: relative;
}

.form-search__input {
  border: none;
  background-color: #293449;
  min-width: 270px;
  padding-left: 49px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 17px;
  line-height: 24px;
}

.form-search__label {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.form-search__input:hover + .form-search__label {
  opacity: 1;
} 

.form-search__input:focus + .form-search__label {
  opacity: 1;
}

.form-search__input:focus + .form-search__label path{
  fill: #ee3643;
}

.form-search__input::-webkit-input-placeholder {
  color: #ffffff;
}

/* Firefox < 19 */
.form-search__input:-moz-placeholder {
  color: #ffffff;
}

/* Firefox > 19 */
.form-search__input::-moz-placeholder {
  color: #ffffff;
}

/* Internet Explorer 10 */
.form-search__input:-ms-input-placeholder {
  color: #ffffff;
}

.form-search__input:hover {
  background-color: #212a3a;
}

.form-search__input:hover + svg path {
  fill: #ffffff;
}

.form-search__input:focus {
  background-color: #ffffff;
  outline: none;
}

.form-search__input:focus::-webkit-input-placeholder {
  color: #000000;
}

/* Firefox < 19 */
.form-search__input:focus:-moz-placeholder {
  color: #000000;
}

/* Firefox > 19 */
.form-search__input:focus::-moz-placeholder {
  color: #000000;
}

/* Internet Explorer 10 */
.form-search__input:focus::-ms-input-placeholder {
  color: #000000;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.header-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  min-width: 150px;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: border-box;
}

.header-link svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.top-element {
  position: relative;
  padding-left: 45px;
}

.top-element svg{
  opacity: 0.3;
}

.top-element:hover {
  background-color: #212a3a;
}

.top-element:hover svg {
  opacity: 1;
}

.top-element:active {
  color: rgba(255, 255, 255, 0.6);
}

.top-element:active svg{
  opacity: 0.5;
}

.cart-with-items {
  background-color: #ee3643;
}

.checkout {
  padding-left: 21px;
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

/* ***************************  стили header middle ***************************** */

.middle {
  display: flex;
  flex-wrap: wrap;
  margin-top: 46px;
  margin-bottom: 42px;
}

h1 {
  font-family: 'Cuprum-Italic', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin-left: 53px;
  margin-top: 0;
  margin-right: 71px;
  margin-bottom: 0;
}

.phone,
.address {
  text-decoration: none;
}

.phone {
  display: block;
  box-sizing: border-box;
  margin-top: 1px;
  font-size: 21px;
  line-height: 30px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding-top: 5px;
  padding-left: 71px;
  min-width: 270px;
  min-height: 45px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.address {
  font-size: 14px;
  line-height: 20px;
  color: #32425c;
  padding: 10px;
}

.user-entrance {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: auto;
}

.user-door {
  position: relative;
  min-width: 121px;
  padding-left: 48px;
}

.user-door svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.registration {
  min-width: 150px;
  padding-left: 25px;
}

.entrance-link {
  box-sizing: border-box;
  display: block;
  font-size: 21px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  min-height: 45px;
  margin-left: 10px;
  padding-top: 8px;
  
}
.entrance-link:hover {
  color: #ee3643;
}

.entrance-link:hover path{
  fill: #32425c;
}

.entrance-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.entrance-link:active path {
  fill: #c5c5c5;
}

.user-zone {
  margin-left: auto;
}

.profile {
  display: flex;
  min-width: 300px;
  background-color: #ffffff;
}

.user-zone__a {
  position: relative;
  display: block;
  box-sizing: border-box;
  color: #000000;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  min-height: 45px;
  padding-left: 47px;
  padding-top: 7px;
}

.icon-user {
  position: absolute;
  left: 13px;
  top: 13px;
}

.icon-logout {
  position: absolute;
  top: 14px;
  right: 10px;
}

.user-zone__a:hover g,
.user-zone__a:hover path {
  fill: #32425c;
}

.user-zone__a:active {
  opacity: 0.3;
}

.user-links {
  padding-top: 1px;
  display: flex;
  flex-wrap: wrap;
}

.orders {
  margin-left: 17px;
  margin-right: 15px;
}

.my-links {
  color: #32425c;
}

.my-links:hover {
  color: #ee3643;
}

.my-links:active {
  color: #32425c;
  opacity: 0.3;
}

.point {
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 13px;
}

/* ***************************  стили header навигация ***************************** */

.main-nav {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 17px;
  line-height: 24px;
  background-color: #32425c;
  min-height: 55px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 5px 0 0 #293449;
}

.redirect {
  color: #ffffff;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
  padding-top: 16px;
}

.redirect:hover {
  background-color: #293449;
}

.redirect:active {
  opacity: 0.5;
  background-color: #1d2739;
}

/* ***************************  стили offers ***************************** */

.main-page {
  display: flex;
  flex-direction: column;
  margin-top: 59px;
}

.container {
  display: flex;
  flex-direction: column;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.left-offers {
  display: flex;
  flex-direction: column;
}

.top-left-category {
  display: flex;
  flex-wrap: wrap;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.category-title {
  font-size: 24px;
  font-family: 'Cuprum-Bold', sans-serif;
  color: #ffffff;
  margin-left: 22px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.category-link {
  box-sizing: border-box;
  border-radius: 3px;
  min-width: 135px;
  min-height: 38px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 25px;
  padding-top: 9px;
}

.category-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  position: relative;
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
  margin-right: 20px;
}

.tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.right-offers {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.technic {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.discount {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.delivery {
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
  margin-bottom: 0;
}

.slider {
  box-sizing: border-box;
  position: relative;
  min-width: 620px;
  min-height: 266px;
  background-color: #000000;
}

.slide {
  display: none;
}

.slider__input {
  position: absolute;
}

.input-slide-1:checked + .slide-1, 
.input-slide-2:checked + .slide-2 {
  display: block;
}

.input-slide-1:checked~.slider-label-box .label-slide-1,
.input-slide-2:checked~.slider-label-box .label-slide-2 {
  background: #ee3643;
}

.slider-label-box {
  position: absolute;
  display: flex;
  left: 295px;
  top: 220px;
}

.slider__label {
  box-sizing: border-box;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.slider__label::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 40px; 
}

.label-slide-1::before {
  top: -106px;
  left: -270px;
}

.label-slide-2::before {
  top: -106px;
  left: 283px;
  transform: scale(-1,1);
}

.slide {
  position: absolute;
  min-width: 620px;
  min-height: 266px;
}

.slide h2 {
  font-size: 36px;
  line-height: 38px;
  font-family: 'Cuprum-Bold', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 24px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.slide p {
  font-size: 18px;
  color: #ffffff;
  margin-left: 24px;
  margin-top: 0;
}

.slide .red-button {
  max-width: 195px;
  margin-left: 25px;
  margin-top: 126px;
}

.slide-1 {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-2 {
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ***************************  стили catalog-items ***************************** */

.spacing-block {
  box-sizing: border-box;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  min-height: 89px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.spacing-block .red-button {
  margin-left: auto;
  margin-top: 25px;
  margin-right: 24px;
  align-self: baseline;
  min-width: 253px;
}

.spacing-block h2 {
  margin-top: 22px;
  color: #32425c;
}

.main-catalog {
  justify-content: space-between;
}

/* ***************************  стили popular-manufactures ***************************** */

.manufactures-banners {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.banner-link {
  width: 218px;
  height: 143px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.banner-link:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.banner-link:active {
  opacity: 0.3;
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 1);
}

.bosch {
  background-image: url(../img/bosch.png);
  background-position: 46px 52px;
}

.makita {
  background-image: url(../img/Makita.png);
  background-position: 47px 49px;
}

.dewalt {
  background-image: url(../img/DeWALT.png);
  background-position: 36px 47px;
}

.interskol {
  background-image: url(../img/interskol.png);
  background-position:  8px 20px;
}

.hitachi {
  background-image: url(../img/Hitachi.png);
  background-position: 27px 57px;
}

.lg {
  background-image: url(../img/LG.png);
  background-position: 47px 34px;
}

.aeg {
  background-image: url(../img/AEG.png);
  background-position: 34px 22px;
}

.metabo {
  background-image: url(../img/Metabo.png);
  background-position: 9px 33px;
}

/* ***************************  стили services ***************************** */

.services-wrapper {
  background-color: #f4f7f9;
  margin-top: 65px;
}

.services {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 522px;
}

.service-slider {
  position: relative;
  margin-bottom: 50px;
  margin-top: 55px;
}

.service-slider::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../img/slot.png);
  background-repeat: repeat;
  width: 10px;
  height: 272px;
  top: -44px;
  left: 230px;
}

.service-slide {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.services h2 {
  margin-top: 68px;
  margin-bottom: 15px;
}



.service-toggle {
  box-sizing: border-box;
  font-size: 21px;
  font-family: 'Cuprum-Bold', Tahoma, Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  height: 61px;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  margin-bottom: 1px;
  padding-left: 36px;
  padding-top: 17px;
}

.service-toggle:hover {
  background-color: #293449;
}

.service-input {
  display: none;
}

.service-input:checked + .service-toggle {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.service-slide__div {
  position: absolute;
  display: none;
  left: 320px;
  width: 620px;
  flex-direction: column;
  top: 0;
}

.service-input:checked ~ .service-slide__div {
  display: flex;
}

.service-slide__div img{
  position: absolute;
  right: 0;
}

.delivery-div img {
  top: 25px;
}

.warranty-div img {
  top: 3px;
}

.warranty-div h3 {
  font-style: italic;
}

.credit-div img {
  top: 1px;
}

.credit-div .red-button {
  margin-top: 13px;
}

.service-slide__div h3 {
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  font-size: 36px;
  color: #32425c;
  line-height: 1;
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
}

/* ***************************  стили about-us ***************************** */

.about-us {
  display: flex;
  min-height: 536px;
}

.about-us .section-title {
  margin-bottom: 24px;
}

.about-us p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 18px;
}

.about-us-item {
  margin-top: 82px;
}

.about-us-block {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin-right: 120px;
}

.transport-list{
  flex-direction: column;
  font-size: 18px;
  line-height: 26px;
  padding-left: 36px;
  margin-top: 0;
  margin-bottom: 22px;
}

.transport-list__li {
  position: relative;
  margin-bottom: 14px;
}

.transport-list__li::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  display: block;
  top: 13px;
  left: -36px; 
  border: 1px solid #ee3643;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.main-address {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.small-map {
  background-color: #8b8e94;
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 14px;
  margin-bottom: 39px;
}

.small-map-button {
  width: 300px;
  text-align: center;
}

/* ***************************  стили catalog ***************************** */
.inner-page {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-family: 'PTSans-Regular', sans-serif;
}

.breadcrumbs {
  padding-inline-start: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.crumbs {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 15px;
}

.catalog-title {
  min-height: 89px;
  box-sizing: border-box;
  color: #32425c;
  background-color: #f2f6f8;
  padding-left: 28px;
  padding-top: 22px;
}

.form-section-catalog {
  margin-bottom: 60px;
}

/* ***************************  стили left side filter ***************************** */
.form-section-catalog{
  display: flex; 
  margin-top: 20px;
}

.left-side-filter {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin-right: 20px;
}

.form-element {
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.left-side-filter__span {
  padding-left: 18px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.form-names {
  font-size: 17px;
  font-family: 'PTSans-Bold', sans-serif;
  line-height: 21px;
  text-transform: uppercase;
}

.form-scale {
  height: 80px;
  margin-bottom: 9px;
}

.price-controls {
  display: flex;
  max-width: 220px;
}

.price-toggle {
  box-sizing: border-box;
  border: none;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  outline: none;
  max-width: 95px;
  width: 95px;
}

.price-controls__span {
  padding: 10px;
  line-height: 18px;
}

.manufactures:before {
  content: "";
  display: block;
  border-top: 1px solid #e5e5e5;
  height: 21px;
  margin-top: 8px;
}

.filter-list {
  flex-direction: column;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.filter-list__li {
  margin-top: 1px;
  margin-bottom: 18px;
}

.filter-list-item {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 35px;
}

.checkbox-item::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  left: 0px;
}

.checkbox-input {
  width: 0;
  height: 0;
}

.checkbox-input:checked + .checkbox-item::before {
  background-image: url(../img/checkbox-on.svg);
}

.power-source {
  margin-block-start: 0;
}

.power-source:before {
  content: "";
  display: block;
  border-top: 1px solid #e5e5e5;
  height: 21px;
  margin-top: 5px;
}

.radio-item::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 0px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.radio-input:checked + .radio-item::before {
  background-image: url(../img/radio-on.svg);
}

.view-button {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin-top: 60px;
}

/* ***************************  стили right side container ***************************** */

.right-side-container {

  flex-grow: 1;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
  min-height: 38px;
  margin-bottom: 20px;
}

.sorting__span {
  padding-left: 18px;
  padding-bottom: 1px;
  margin-right: 139px;
}

.sort {
  border: none;
  border-bottom: 1px dotted #ee3643;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  background: none;
  padding:0;
  margin-right: 40px;
}

.sort:hover {
  border: none;
  border-bottom: 1px solid #ee3643;
  color: rgba(0, 0, 0, 1);
}

.active-sort, 
.sort:active {
  color: #ee3643;
  border-bottom: 1px solid transparent;
  opacity: 1;
}

.sort:focus {
  outline: none;
}

.by-type {
  margin-left: 29px;
}

.by-function {
  margin-left: 24px;
}

.arrow {
  border: none;
  background: none;
  opacity: 0.3;
}

.active-sort,
.arrow:hover {
  opacity: 1;
}

.arrow:hover path {
  fill: #231F20;
}

.active-sort path,
.arrow:active path {
  fill: #ee3643;
}

.arrow:focus {
  outline: none;
}

.grow {
  margin-right: 5px
}

/* ***************************  стили catalog-items ***************************** */

.catalog-list {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 31px;
  justify-content: space-between;
  width: 700px;
}

.item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-btn {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Cuprum-Regular', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 135px;
  min-height: 35px;
  border-radius: 3px;
  margin-left: 1px;
  text-align: center;
}

.to-buy {
  position: relative;
  margin-top: 43px;
  margin-bottom: 11px;
  color: #ffffff;
  background-color: #63a63e;
  padding-top: 9px;
  box-shadow: 0 3px 0 0 #367315;
}

.to-buy:hover {
  background-color: #5fbb2d;
}

.to-buy:active {
  background-color: #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.to-buy svg {
  position: absolute;
  left: 14px;
  top: 11px;
}

.to-buy circle,
.to-buy path {
  opacity: 0.3;
}

.to-buy:hover circle,
.to-buy:hover path {
  opacity: 1;
}

.to-bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
  padding-top: 6px;
} 

.to-bookmark:hover {
  border-color: #32425c;
} 

.to-bookmark:active {
  opacity: 0.3;
} 

.item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.item:hover .item-img{
  display: none;
}

.new-item-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.item-info {
  font-size: 18px;
  line-height: 20px;
  font-family: 'PTSans-Bold', sans-serif;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 1px;
}

.price-list {
  display: block;
  box-sizing: border-box;
  width: 141px;
  height: 38px;
  font-size: 17px;
  line-height: 20px;
  font-family: 'PTSans-Bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 9px;
}

.item-old-price {
  color: #999999;
  text-decoration: line-through;
}

.item-price {
  color: #ffffff;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-btn {
  display: flex;
  flex-wrap: wrap;
}

.square-btn {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
}

.square-btn-text {
  min-width: 140px;
}

.square-btn:hover {
  border-color: #bdc6ca;
  color: #000000;
  background-color: #ffffff;
}

.square-btn:active {
  border-color: #ee3643;
  color: #000000;
  background-color: #ffffff;
}

.catalog-btn-active {
  border-color: #ee3643;
  color: #ffffff;
  background-color: #ee3643;
}

/* ***************************  стили about-items ***************************** */

.about-items {
  display: flex;
  flex-direction: column;
  background-color: #f2f6f8;
  padding-top: 58px;
  padding-bottom: 68px;
}

.about-items p {
  margin-top: 18px;
  line-height: 24px;
}

/* ***************************  стили footer ***************************** */
footer {
  display: flex;
  flex-direction: column;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.footer-logo {
  box-sizing: border-box;
  background-color: #ee3643;
  width: 220px;
  height: 63px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-navigation {
  margin-left: auto;
  padding-inline-start: 0px;
  margin-top: 0px;
}

.footer-nav1 {
  align-self: flex-end;
  margin-bottom: 0px;
}

.footer-link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.footer-nav {
  margin-left: 60px;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.navigation-2 {
  color: #ffd180;
}

.footer-nav:hover {
  text-decoration: underline;
}

.footer-nav:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom-wrapper {
  background-color: #293449;
  min-height: 107px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 18px;
  color: #ffffff;
  margin-top: 34px;
}

.copyright {
  margin-right: 122px;
}

.social-buttons {
  margin-left: 40px;
  margin-right: 116px;
}

.social-btn {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  text-align: center;
  margin-right: 5px;
  padding-inline-start: 0;
}

.vk {
  padding-top: 13px;
}

.fb {
  padding-top: 10px;
}

.inst {
  padding-top: 10px;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.mail-to {
  margin-right: 50px;
}

.coupling {
  color: #ffd180;
  text-decoration: none;
}

.coupling:hover {
  text-decoration: underline;
}

.coupling:active {
  color: #ee3643;
  text-decoration: none;
}

/* ***************************  стиль popus ***************************** */

/* ***************************  стиль red button ***************************** */

.red-button {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Cuprum-Regular', Tahoma, Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  min-height: 38px;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 40px;
  align-self: flex-start;
  border-radius: 3px;
  text-align: center;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

/* ***************************  стиль visually-hidden ***************************** */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}